aside{
    background-color: tomato;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.aside-link{
    text-decoration: none;
    color: white;
}

.aside-link:hover{
    color: gray;
}
.aside-li{
    list-style: none;
}