$colorHover: #123D78
$colorMain: #206EDB
$colorLight: #5F98E7
$colorExtra: #87B2ED
$buttons: #E8F0FC
$color-white: #ffffff
$colorBlack: #000000
$test: red
$bg-articles: #5199FF20

$radius-works: 8px


*
    padding: 0
    margin: 0
    box-sizing: border-box
    /* font-family: 'Fredoka One', cursive */
    font-family: 'Roboto', ssans-serif
    font-size: 18px

p::selection
    background-color: $colorHover
    color: $color-white

.card-text //clase universal para todo el documento
    text-align: center
    color: $color-white

.card-title //clase universal para todo el documento
    text-align: center

    font-size: 2em
    font-weight: 900
    color: $colorMain

.footer-link
    color: $colorExtra
    text-decoration: none
    transition: all .3s ease
    &:hover
        color: $colorMain

.otros-links
    color: $colorExtra
    &:hover
        color: $colorMain

html
    scroll-behavior: smooth
    &::-webkit-scrollbar
        width: .9rem
    &::-webkit-scrollbar-thumb
        background-color: $colorMain
        border: 4px solid #D8D8D8
        border-radius: 20px
        transition: all 9s ease
        &:hover
            background-color: $colorHover
    &::-webkit-scrollbar-track
        background-color: #D8D8D8
    body
        background-color: #111111
        /* overflow-x: hidden */
        .contaienr
            display: grid
            grid-template-columns: auto
            grid-template-rows: auto 1fr auto
            gap: 0em
            min-height: 100vh
            //background-image: url(../icons/bg-images/conny-schneider-xuTJZ7uD7PI-unsplash.jpg)
            background-size: cover
            background-position: center
            background-repeat: no-repeat
            //Separacion de bgs
            //background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0
            //background-repeat: repeat
            //opacity: .9
            //visibility: visible
            //animation: bg-animation .2s infinite //<-- da problemas con el contenido de la pagina
            main
                grid-row: 2/3
                /*-----------*/
                /*  Welcome  */
                /*-----------*/
                #sec-welcom-id
                    height: calc( 100vh - 10em )
                    width: 100%
                    margin: 0px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    #welcome
                        background-color: $bg-articles
                        backdrop-filter: blur(10px)
                        -webkit-backdrop-filter: blur(10px)
                        color: black
                        width: auto
                        height: auto
                        padding: 1em
                        border-radius: 8px
                        font-size: 1.5em
                        font-weight: 500
                        text-align: center
                        letter-spacing: 2px
                        margin: auto
                        .hello-words
                            color: $color-white
                            font-size: 4rem
                            font-weight: bold
                /*---------*/
                /*  Works  */
                /*---------*/
                #sec-works
                    width: 100%
                    margin: 0px
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    .work-text
                        text-align: center
                        margin-bottom: 100px
                    .content-works
                        display: flex
                        justify-content: center
                        flex-flow: row wrap
                        gap: 10px
                        border-radius: $radius-works
                        .content-works-2
                            position: relative
                            z-index: 1
                            .content-img-works
                                border-radius: $radius-works
                                width: 350px
                                height: 250px
                                overflow: hidden
            /*----------*/
            /*  Footer  */
            /*----------*/
            footer
                grid-row: 3 / 4
                min-height: 5em
                display: flex
                align-items: center
                justify-content: space-around
                flex-direction: column
                gap: 1em

                position: relative
                z-index: 4
                div
                    margin-top: .5em
                    .copyright
                        margin-left: 1em
                        color: $color-white
                        #love
                            color: $test
                            animation-name: pulse
                            animation-duration: 1s
                            animation-iteration-count: infinite
                .icons_foter
                    display: flex
                    flex-direction: row
                    gap: 1em

                    margin-right: 1em
                    .personalLinks
                        color: white
                        font-weight: bold

                        text-decoration: none
                        .github, .linkedin, .email, .instagram, .miweb
                            width: 30px
                            margin-right: .1em
                            transition: all 0.4s ease
                        .github:hover, .linkedin:hover, .email:hover, .miweb:hover
                            filter: invert(18%) sepia(73%) saturate(5632%) hue-rotate(236deg) brightness(98%) contrast(96%)
                    .instagram
                        filter: grayscale(100%)


.title-other
    margin-bottom: 1em

@keyframes pulse
    0%
        font-size: 18px
    50%
        font-size: 15px
    100%
        font-size: 18px

@keyframes bg-animation 
    0%  
        transform: translate(0,0) 
    10%  
        transform: translate(-5%,-5%) 
    20%  
        transform: translate(-10%,5%) 
    30%  
        transform: translate(5%,-10%) 
    40%  
        transform: translate(-5%,15%) 
    50%  
        transform: translate(-10%,5%) 
    60%  
        transform: translate(15%,0) 
    70%  
        transform: translate(0,10%) 
    80%  
        transform: translate(-15%,0) 
    90%  
        transform: translate(10%,5%) 
    100%  
        transform: translate(5%,0) 

@media (max-width: 767px)
    .content-about-and-tec
        display: flex
        flex-direction: column