* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

p::selection {
  background-color: #0B428F;
  color: #ffffff;
}

.card-text {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color: #206EDB;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.9rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #206EDB;
  border: 4px solid #D8D8D8;
  border-radius: 20px;
  transition: all 9s ease;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #0B428F;
}
html::-webkit-scrollbar-track {
  background-color: #D8D8D8;
}
html body {
  background-color: #ffffff;
}
html body .contaienr {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  gap: 0em;
  min-height: 100vh;
}
html body .contaienr main {
  grid-row: 2/3;
}
html body .contaienr main .sec-welcome {
  background-image: url(../icons/bg-images/17973908.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
html body .contaienr main .sec-welcome #welcome {
  background-color: rgba(81, 153, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  width: auto;
  height: auto;
  padding: 1em;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  margin: 0px auto 200px auto;
}
html body .contaienr main .sec-about {
  background-color: #F4F6F7;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 100vh 0px 0px 0px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 4;
}
html body .contaienr main .sec-about #about {
  width: 90%;
}
html body .contaienr main .sec-about #about div .card-text {
  padding-bottom: 2em;
}
html body .contaienr main .sec-about #about .about-box {
  border-radius: 10px;
  background-color: white;
  animation: sliderImage 0.5s;
  width: 100%;
  height: auto;
  min-height: 170px;
  padding: 1em;
  margin-top: 0.5em;
  position: relative;
}
html body .contaienr main .sec-about #about .about-box .prev {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  position: absolute;
  top: 40%;
  left: 0;
  cursor: pointer;
}
html body .contaienr main .sec-about #about .about-box .next {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  position: absolute;
  top: 40%;
  right: 0;
  transform: rotate(180deg);
  cursor: pointer;
}
html body .contaienr main .sec-about #about .about-box .title-inner-about {
  color: #206EDB;
  font-size: 1.1em;
  text-align: center;
  margin: 0em 0px 1em 0px;
}
html body .contaienr main .sec-about #about .about-box .tec-div {
  display: block;
  margin-left: 10%;
  width: 90%;
}
html body .contaienr main .sec-about #about .about-box .tec-div img {
  position: relative;
  top: -40px;
  left: -55px;
}
html body .contaienr main .sec-about #about .about-box .tec-div .percent-tec {
  width: 80%;
  height: 40px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #96CEE3;
}
html body .contaienr main .sec-about #about .about-box .tec-div .percent-tec p {
  font-size: 1.5em;
  font-weight: 900;
  margin-left: 10px;
  padding-top: 4px;
  text-align: center;
}
html body .contaienr main .sec-about #about #abot-me {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: auto;
}
html body .contaienr main .sec-about #about #abot-me .btn-pdf {
  padding: 0.5em 1em;
  background-color: rgb(231, 244, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.1);
  text-decoration: none;
  color: #206EDB;
  cursor: pointer;
  transition: all 0.4s ease;
}
html body .contaienr main .sec-about #about #abot-me .btn-pdf:hover {
  background-color: #206EDB;
  color: white;
  box-shadow: 0px 1px 10px 0px #206EDB;
}
html body .contaienr main .sec-about #about #abot-me .btn-pdf:hover .cv-img {
  filter: invert(100%);
  transition: all 0.4s ease;
}
html body .contaienr main .sec-about #about #abot-me .btn-pdf .cv-img {
  width: 20px;
  margin-right: 5px;
}
html body .contaienr main .sec-about #about .dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-top: 5px;
}
html body .contaienr main .sec-about #about .dots .dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
}
html body .contaienr main #sec-works {
  margin: 0px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: hsla(200deg, 16%, 96%, 0.8);
  backdrop-filter: blur(20px);
  position: relative;
  z-index: 4;
}
html body .contaienr main #sec-works .work-text {
  text-align: center;
  margin-bottom: 100px;
}
html body .contaienr main #sec-works .content-works {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}
html body .contaienr main #sec-works .content-works .content-works-2 {
  position: relative;
  z-index: 1;
}
html body .contaienr main #content-contact {
  padding: 150px 0px 150px 0px;
  margin: 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #F4F6F7;
  position: relative;
  z-index: 4;
}
html body .contaienr main #content-contact .contact-article {
  border-radius: 10px;
  padding: 1em;
  width: auto;
  height: auto;
  background-color: white;
}
html body .contaienr main #content-contact .contact-article .content-contact-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me {
  margin: 1.5em 1em 1em 0px;
  display: inline-block;
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact {
  color: #206EDB;
  background-color: rgb(231, 244, 255);
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 0px rgba(128, 128, 128, 0.1);
  padding: 10px 5px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease;
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact:hover {
  color: #ffffff;
  background-color: #0B428F;
  box-shadow: 0px 1px 10px 0px #206EDB;
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact:hover .email-contact {
  filter: invert(100%);
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact:hover .linkedin-contact {
  filter: invert(100%);
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact:hover .instagram-contact {
  filter: invert(100%);
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact .email-contact {
  width: 25px;
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact .linkedin-contact {
  width: 25px;
}
html body .contaienr main #content-contact .contact-article .content-contact-me .contact-me .link-contact .instagram-contact {
  width: 30px;
}
html body .contaienr footer {
  grid-row: 3/4;
  min-height: 5em;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #F4F6F7;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  position: relative;
  z-index: 4;
}
html body .contaienr footer div {
  margin-top: 0.5em;
}
html body .contaienr footer div .copyright {
  margin-left: 1em;
}
html body .contaienr footer div .copyright #love {
  color: red;
}
html body .contaienr footer .icons_foter {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-right: 1em;
}
html body .contaienr footer .icons_foter .personalLinks {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
html body .contaienr footer .icons_foter .personalLinks .github, html body .contaienr footer .icons_foter .personalLinks .linkedin, html body .contaienr footer .icons_foter .personalLinks .email, html body .contaienr footer .icons_foter .personalLinks .instagram, html body .contaienr footer .icons_foter .personalLinks .miweb {
  width: 30px;
  margin-right: 0.1em;
  transition: all 0.4s ease;
}
html body .contaienr footer .icons_foter .personalLinks .github:hover, html body .contaienr footer .icons_foter .personalLinks .linkedin:hover, html body .contaienr footer .icons_foter .personalLinks .email:hover, html body .contaienr footer .icons_foter .personalLinks .instagram:hover, html body .contaienr footer .icons_foter .personalLinks .miweb:hover {
  filter: invert(18%) sepia(73%) saturate(5632%) hue-rotate(236deg) brightness(98%) contrast(96%);
}

.title-other {
  margin-bottom: 1em;
}

#img-html, #img-css, #img-js, #img-git, #img-node, #img-tailwind, #img-react {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}

#img-npm {
  width: 55px;
  height: 55px;
  margin-left: 5px;
}

#img-sass {
  width: 60px;
  height: 40px;
  margin-left: -10px;
}

#img-calendar, #img-calc, #img-Frontend, #img-TimeTrack, #img-NFT, #img-ipAddress {
  width: 350px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsla(0deg, 0%, 100%, 0.5);
}

#img-calendar, #img-calc, #img-Frontend {
  background-image: url("../icons/works-img/calendar.PNG");
}

#img-calc {
  background-image: url("../icons/works-img/ejercicios web.PNG");
}

#img-Frontend {
  background-image: url("../icons/works-img/Comercio electronico.PNG");
}

#img-TimeTrack {
  background-image: url("../icons/works-img/time track.PNG");
}

#img-NFT {
  background-image: url("../icons/works-img/NFT.PNG");
}

#img-ipAddress {
  background-image: url("../icons/works-img/ip-address tracker.PNG");
}

.overlay-work {
  background-color: rgba(0, 0, 0, 0.65);
  width: 350px;
  height: 250px;
  position: absolute;
  top: 1.2em;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-around;
}
.overlay-work:hover {
  opacity: 1;
  box-shadow: 0px 0px 10px 2px gray;
}

.descript-work {
  color: #ffffff;
  text-align: center;
}

.tec-used {
  color: white;
  background-color: #206EDB;
  text-align: center;
  width: auto;
  height: auto;
  margin-bottom: 1em;
  padding: 2px 5px;
  border-radius: 5px;
  text-decoration: none;
}
.tec-used:hover {
  background-color: #0B428F;
  box-shadow: 0px 1px 10px 0px #206EDB;
}

@keyframes sliderImage {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .prev {
    width: 40px;
    height: 40px;
    top: 5%;
    left: 0;
    z-index: 10;
  }
  .next {
    width: 40px;
    height: 40px;
    top: 5%;
    right: 0;
    z-index: 10;
  }
}

/*# sourceMappingURL=index.css.map */
