:root{
    --colorHover: #2743F5;

    --colorWhite: white;
    --colorBlack: black;
    --colorMain: #206EDB;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

html{
    scroll-behavior: smooth;
}

.contaienr{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;

    gap: 0em; /* 1 */

    min-height: 100vh;
}

/* Body */

body{
    background-color: var(--colorWithe);
}

main{
    grid-column: 1 / 3;
    grid-row: 2/3;
}

/* titles h5 */
.card-title{
    text-align: center;

    font-size: 2em;
    font-weight: 900;
    color: var(--colorMain);
}

.title-other{
    margin-bottom: 1em;
}

/* welcome */

.sec-welcome{
    background-image: url(../icons/bg-images/pexels-pixabay-270404.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px 0px 200px 0px;
}

#welcome{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;

    width: auto; /* tamaño de la ventana */
    height: auto;
    
    padding: 1em;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: 500; /* 700 */
    text-align: center;
    letter-spacing: 2px;

    margin: 0px 1em 200px 1em;
}

/* about */

.sec-about{
    background-color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    display: flex;
    flex-flow: row wrap;
    gap: 1em;

    margin: 0px 1em 200px 1em;
}

#about{
    width: 45%;
}
#tecno{
    width: 45%;
}

.content-tec{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.box-tex{
    width: 120px;
    height: 120px;
    border-radius: 25%;
    background-color: #2742f528;
}

.logos-tec{
    width: 60px;
    height: 60px;

    margin: 30px 0px 0px 30px;
}
.logos-tec:hover{
    filter: brightness(1.2);
    transform: scale(1.1);
}

/* work */

#sec-works{
    margin: 0px 1em 200px 1em;
}

.content-works{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 1em;
    margin: 1em;
}

.work-text{
    text-align: center;

    margin-bottom: 100px;
}

    /* works view */

#img-calendar{
    width: 400px;
    height: 400px;

    background-image: url("gicons/works-img/calendar.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#img-calc{
    width: 400px;
    height: 400px;

    background-image: url("icons/works-img/Calculadoras.PNG");
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: center;
}
#img-Frontend{
    width: 400px;
    height: 400px;

    background-image: url("icons/works-img/Frontend.PNG");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}

.content-works-2{
    position: relative;
    z-index: 1;
}

.overlay-work{
    background-color: rgba(0, 0, 0, 0.5);
    width: 400PX;
    height: 400PX;
    position: absolute;
    top: 1.2em;
    left: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0;

    transition: all 0.4s ease-in-out;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.overlay-work:hover{
    opacity: 1;
}

.descript-work{
    color: var(--colorWhite);
    text-align: center;
}

.tec-used{
    color: white;
    background-color: var(--colorMain);

    text-align: center;

    width: 79px;
    height: 1.5em;
    margin-bottom: 1em;
    padding: 2px 5px;
    border-radius: 5px;

    font-size: .8em;
}
.tec-used:hover{
    background-color: var(--colorHover);
}

/* contacto */

    /* Contact content */
#content-contact{
    padding: 1em;
}

    /* Form  */
#contact-form{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#h1-contact{
    text-align: center;
    margin-bottom: 20px;
}

.contact-descript{
    color: rgb(66, 66, 66);
    font-size: 18px;
    margin-bottom: 20px;
}

form{
    width: 100%;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.name::after, .email::after, .message::after, .subject::after{
    content: "*";
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: .2em;
}

.form-group #message{
    width: 100%;
    height: 120px;

    resize: vertical;
    max-height: 250px;
    min-height: 120px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group{
    width: 100%;
    margin-bottom: 20px;
}

.btn-primary{
    background-color: var(--colorMain);
    color: var(--colorWhite);
}

.btn-primary:hover{
    background-color: var(--colorHover);
    color: white;

    transition: all 0.2s ease-in-out;
}

    /* Detail contact */
#detail-contact{
    display: none;
    width: 48%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#h1-detail{
    text-align: center;
    margin-bottom: 20px;
}

/* footer */

footer{
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    min-height: 5em;

    background-color: rgba(128, 128, 128, 0.6);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.github, .linkedin, .email{
    width: 40px;
    height: 40px;
    margin-right: .1em;
}

footer div{
    margin-top: .5em;
}

.personalLinks{
    color: white;
    font-weight: bold;

    text-decoration: none;
}

/* texto */
p::selection{
    background-color: var(--colorHover);
    color: var(--colorWhite);
}