/* Header */
header{
    background-color: rgba(192, 192, 192, 0.50);
    
    grid-column: 1 / span 3;
    
    height: 3.5em;
}

.nav{
    margin-top: 0.6em;
    margin-left: 1em;
}

.nav-menu{
    list-style: none;

    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.nav-list{
    z-index: 3;
}

.nav-link{
    text-decoration: none;
    transition: 0.3s;
    padding: .5em .5em;
    display: block;

    color: var(--colorBlack);
    border: 1px solid transparent;
}

.nav-link:hover{
    color: var(--colorWithe);
    background-color: hsla(0, 0%, 0%, 0.75);
    border-left: 2px solid rgb(0, 0, 0);
}

.nav-submenu{
    display: none;
    list-style: none;
}

ul li:hover .nav-submenu{
    display: block;
    color: var(--colorWithe);
    background-color: rgba(192, 192, 192, 0.95);
    border-left: 2px solid rgb(0, 0, 0);
}

.nav-sublist-1:hover>ul{
    display: block;
    color: var(--colorWithe);
    background-color: rgba(192, 192, 192, 0.95);
    border-left: 2px solid rgb(0, 0, 0);
}

.nav-sublist-1:hover{
    background-color: hsla(0, 0%, 0%, 0.75);
    color: var(--colorWithe);
}

.nav-subsubmenu{
    display: none;
    list-style: none;
/*     position: absolute;
    left: 10em; */
}

.sub-list-2{
    list-style: none;
}