/* Header */
header{
    background-color: rgba(192, 192, 192, 0.50);
    backdrop-filter: blur(10px);
    
    grid-column: 1 / span 3;
    
    height: 3.5em;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.nav{
    margin-top: 0.6em;
    margin-left: 1em;
}

.nav-menu{
    list-style: none;

    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.nav-list{
    z-index: 3;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-list:hover{
    background-color: var(--colorMain);
}

.nav-link{
    text-decoration: none;
    padding: .5em .5em;
    display: block;

    color: var(--colorBlack);
    border: 1px solid transparent;
}

.nav-link:hover{
    border-left: 2px solid rgb(0, 0, 0);
    color: white;
}

