
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #206EDB;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    margin-top: .2em;
}

.pdf-view{
    width: 50%;
    height: 100vh;
    margin: auto;
    display: block;
    border-radius: 20px;
    background-color:#fff;
    padding:10px;
}