*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* Contact content */
#content-contact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

/* Form  */
#contact-form{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#h1-contact{
    text-align: center;
    margin-bottom: 20px;
}

.contact-descript{
    color: rgb(66, 66, 66);
    font-size: 18px;
    margin-bottom: 20px;
}

form{
    width: 100%;
}

.form-group input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.name::after, .email::after, .message::after{
    content: "*";
    color: red;
    display: inline-block;
    width: 1em;
    margin-left: .2em;
}

.form-group #message{
    width: 100%;
    height: 120px;

    resize: vertical;
    max-height: 250px;
    min-height: 120px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group{
    width: 100%;
    margin-bottom: 20px;
}

.btn-primary{
    background-color: var(--color2);
}

.btn-primary:hover{
    background-color: var(--color3);
    color: white;

    transition: all 0.2s ease-in-out;
}

/* Detail contact */
#detail-contact{
    display: none;
    width: 48%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#h1-detail{
    text-align: center;
    margin-bottom: 20px;
}