.title-other {
  margin-bottom: 1em;
}

.card-text {
  text-align: center;
  color: #ffffff;
}

.card-title {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  color: #206EDB;
}

.otros-links {
  color: #87B2ED;
}
.otros-links:hover {
  color: #206EDB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", ssans-serif;
  font-size: 18px;
}

p::selection {
  background-color: #123D78;
  color: #ffffff;
}

.footer-link {
  color: #87B2ED;
  text-decoration: none;
  transition: all 0.3s ease;
}
.footer-link:hover {
  color: #206EDB;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.9rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #206EDB;
  border: 4px solid #D8D8D8;
  border-radius: 20px;
  transition: all 9s ease;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #123D78;
}
html::-webkit-scrollbar-track {
  background-color: #D8D8D8;
}
html body {
  background-color: #111111;
  /* overflow-x: hidden */
}
html body .contaienr {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  gap: 0em;
  min-height: 100vh;
  position: relative;
}
html body .contaienr main {
  z-index: 1;
  grid-row: 2/3;
  /*-----------*/
  /*  Welcome  */
  /*-----------*/
}
html body .contaienr main #sec-welcom-id {
  height: calc(100vh - 10em);
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .contaienr main #sec-welcom-id #welcome {
  background-color: rgba(81, 153, 255, 0.1254901961);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: black;
  width: auto;
  height: auto;
  padding: 1em;
  border-radius: 8px;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  margin: auto;
}
html body .contaienr main #sec-welcom-id #welcome .hello-content {
  position: relative;
}
html body .contaienr main #sec-welcom-id #welcome .hello-content .hello-words {
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
}
html body .contaienr main #sec-welcom-id #welcome .hello-content #p-hello {
  animation: hello 1.5s;
  opacity: 0;
}
html body .contaienr main #sec-welcom-id #welcome .hello-content #p-world {
  animation: world 2s;
  opacity: 0;
}
html body .contaienr main #sec-welcom-id #welcome .hello-content #p-omar {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  animation: omar 2s;
}
html body .contaienr main #sec-welcom-id #welcome .hello-content #p-zavala {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  animation: zavala 2.5s;
}

.bg-animation {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
}

@keyframes hello {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes world {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  25% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
@keyframes omar {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes zavala {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
@media (max-width: 767px) {
  .content-about-and-tec {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=index.css.map */
