:root{
  /* neutral colors */
  --neutralGray: gray;
  --neutralWhite: white;
  --neutralActive: rgb(199, 199, 199);
  --neutralBlack: black;

  /* paleta de colores claros */
  --color1C: rgb(244, 243, 243);
  --color2C: rgb(223, 223, 223);

  /* colores definitivos */
  --colorOne: #0096a6; /* color de todo */
  --colorTwo: #14294a; /* color de botones */
  --colorbg: #f2f2f2; /* colo del bg de la clase horas */
  /* color de testeo */
  --red: red;
} 

.calendar{
  width: 100%;
  height: 100%;

  grid-column: 1 / 3;
}

h1{
  padding: 10px;
}
#days-of-month{
  display: grid;
  grid-template-columns: repeat(7, auto);
  background-color: transparent;
  margin-top: 10px;
  grid-column-end: 9;
  gap: 0px;
  width: 100%;
}

.grid-item {
  background-color: var(--colorbg);
  border-bottom: 1px solid var(--neutralGray);
  border-right: 1px solid var(--neutralGray);
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border-width: 0.5px;
  border-radius: 0px;
  min-height: 80px;
}

#days-of-month .grid-item:nth-child(7n+1){
  border-left: 1px solid var(--neutralGray);
}

#days-of-month .grid-item:nth-child(7n+14){
  background-color: var(--neutralActive);
}

.grid-days {
  background-color: var(--colorOne);
  color: var(--neutralWhite);
  padding: auto;
  font-size: 30px;
  text-align: right;
  box-sizing: border-box;
}

#days-of-month .grid-days{
  margin-top: 5px;
  border-right: 0.5px solid var(--colorTwo);
}

#days-of-month .grid-days:first-child{
  border-top-left-radius: 10px;
}

#days-of-month .grid-days:nth-child(7){
  border-top-right-radius: 10px;
  border-right: none;
}

.diaa-week{
  margin-top: 0px;
  margin-bottom: 0px;
}

.day-month{
  text-align: right;
}

.day-number{
  text-align: right;
  margin-top: -10px;
  margin-right: -10px;
}

ul{/* month */
  list-style: none;
  padding: 0px;
  width: 100%; /* atencion */

  margin-left: -15px;
}

#days-of-month ul li{
  position: relative;
  padding-left: 12px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#days-of-month ul li::before{/* pelotita de color en radio month */
  /* content: ""; */

  display: inline-block;

  width: 6px;
  height: 6px;

  position: absolute;
  left: 26px;
  top: 10px;
  margin-right: 15px;
  background-color: var(--neutralWhite);
  border-radius: 50%;
}

#container-Day ul{
  list-style: none;
  padding: 0px;

  width: 99%;
  margin-left: 0px;
}

#container-week ul{
  list-style: none;
  padding: 0px;

  width: 84%;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-item{
  width: 99%;
  color: black;
  background-color: var(--colorOne);
  color: var(--neutralWhite);
  border-style: none;
  font-size: 15px;
  padding: 4px 4px;
  border-radius: 6.5px;
  cursor: pointer;
}

#container-week .btn-item{
  margin-left: 15px;
  margin-bottom: 5px;
}

#container-Day .btn-item{
  margin-left: 15px;
  margin-bottom: 5px;
}

/* Buttons dates control */

.dates-control{
  display: flex;
  align-items: center;
  margin: 0px;
  width: 24.5em;
  height: 4em;
  padding-left: 0.5em;
  border-radius: 10px;
  background-color: var(--colorOne);
  color: var(--neutralWhite);
}

#dates-control-week{
  grid-row: 1 /2;
  grid-column: 1 / 9;
}
#dates-control-month{
  grid-row: 1 /2;
  grid-column: 1 / 8;
}
#dates-control-year{
  grid-row: 1 /2;
  grid-column: 1 / 5;
}

.prev, .next{
  height:30px;
  width: 30px;

  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-weight: 700;
}
.prev:hover, .next:hover{
  background-color: rgb(218, 216, 216);
}
.prev:active, .next:active{
  background-color: rgb(196, 196, 196);
}

.fecha{
  width: 360px;

  font-size: 25px;
  text-align: center;
  color: var(--neutralWhite);
}

/* dates buttons */

#buttons{
  display: flex;
  justify-content: center;
  background-color: var(--colorOne);
  width: 100%;
  padding: 10px;
}

#btn-day, #btn-week, #btn-month, #btn-year{
  background-color: var(--colorTwo);
  color: var(--neutralWhite);

  padding: 6px 20px;
  border: 0px;
  cursor: pointer;
  transition: 0.2s ease;

  font-weight: 600;
}

#btn-day:hover, #btn-week:hover, #btn-month:hover, #btn-year:hover{
  background-color: var(--neutralActive);
  color: var(--colorTwo);
}

#radio-day:checked + label,
#radio-week:checked + label,
#radio-month:checked + label,
#radio-year:checked + label{
  background-color: var(--neutralActive);
  color: var(--colorTwo);
}

#buttons input[type="radio"]{
  display: none;
}

#btn-day{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

#btn-year{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* container day */

#container-Day{
  grid-template-columns: auto;
  grid-template-rows: repeat(24, auto);
  margin: 15px;
}

#cambia-dia{
  background-color: var(--colorOne);
  color: var(--neutralWhite);
  padding: 10px;
  width: 6.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.hora{
  text-align: left;
  margin-left: 10px;
}

.diario{
  border-bottom: 1px solid var(--neutralGray);
  border-left: 1px solid var(--neutralGray);
  border-right: 1px solid var(--neutralGray);
  background-color: var(--colorbg);
}

#cambia-dia + .diario{
  border-top: 1px solid var(--neutralGray);
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
}

.diario:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* container-week */

#container-week{
  flex-flow: row wrap;
  margin: 15px;
}

#container-week #days-of-week{
  width: 100%;
}

#days-of-week{
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(24, auto);
  gap: 0px 0px;
  margin-top: 5px;
}

#days-of-week .grid-days{
  display: flex;
  justify-content: end;
}
#days-of-week .grid-days p{
  margin-left: 5px;
}
#days-of-week .grid-days .diasNumber{
  margin-right: 15px;
}

#days-of-week .semanal:nth-child(7n + 15){
  background-color: var(--neutralActive);
}

#container-week .grid-days{
  margin-top: 10px;
  border-right: 1px solid var(--neutralBlack);
  border-bottom: 1px solid var(--neutralGray);
}
#container-week .grid-days:nth-child(7){
  border-top-right-radius: 10px;
  border-right: none;
}
#grid-hour{
  grid-column: 1 / 2;
  grid-row: 1 / 31;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 44.5px repeat(24, auto);
}

.horas{
  border-bottom: 1px solid var(--neutralGray);
  border-right: 1px solid var(--neutralGray);
  border-left: 1px solid var(--neutralGray);
  padding-top: 40px;
  text-align: center;
  background-color: var(--background);
}
.horas:first-child{
  margin-top: 10px;
  padding-top: 8px;

  font-weight: 600;
  text-align: center;

  border-top-left-radius: 10px;
  border-right: 1px solid var(--neutralBlack);
  border-left: none;
  background-color: var(--colorOne);
  color: var(--neutralWhite);
}
.semanal{
  border-bottom: 1px solid var(--neutralGray);
  border-right: 1px solid var(--neutralGray);
  background-color: var(--colorbg);
  min-height: 59.1px;
}

.diaa-week{
  text-align: center;
  font-size: 28px;
  color: var(--neutralWhite);
}

#container-week .grid-days{
  text-align: center;
}

/* container month / wrapper */

#container-month{
  margin: 15px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#container-month .grid-days{
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 5px;
}

/* container year */

#container-Year{
  flex-flow: row wrap;
  margin: 15px;
}

#days-of-year{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  width: 100%;
  margin-top: 15px;
}
.meses{
  border: 1px solid var(--neutralGray);
  border-radius: 5px;
  background-color: var(--colorbg);
}
.tittle{
  text-align: center;
  background-color: var(--colorOne);
  color: var(--neutralWhite);
  margin-top: 0px;
  margin-bottom: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.day-name-div, .day-div{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  padding-left: 0px;
  padding-bottom: 15px;
}

.day{
  list-style: none;
  cursor: pointer;
}

.day-name{
  color: var(--neutralBlack);
  list-style: none;
  font-weight: bold;
}

hr{
  display: none; /* flex */
  width: 100%;
  border-color: #ff8383;
  z-index: 1;
  margin-top: 4px;
  opacity: 0.50;
  border-style: solid;
}

.day-year-active{
  background-color: red;
  padding: 4px;
  border-radius: 50%;
  color: var(--neutralWhite);
}

/* boton today */

.today{
  display: none;

  background-color: var(--colorOne);
  color: var(--neutralWhite);
  border: none;
  font-size: 1.5em;
  border-radius: 10px;
  padding: 4px 10px;
  transition: ease 0.2s;
  cursor: pointer;
}
.today:hover{
  background-color: #007785;
}
.today:active{
  background-color: #0e1e36;
}

/* last Month days */
.lastMonth{
  color: var(--neutralGray);
}

.lastMonthYear{
  color: var(--colorbg);
  cursor: default;
}
